<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${users.getId()})}" th:object="${users}">

    <label for="userName">Enter userName</label>
    <input type="text" th:field="*{userName}" id="userName">
    <div style="color: red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">UserName error</div>
    <br/>
    <label for="lastName">Enter lastName</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
    <br/>
    <label for= "email">Enter Email</label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    </br>

    <label for= "password">Enter password</label>
    <input type="text" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
    </br>

    <input type="submit" value="Update!">

    <form th:method="GET" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</form>
</body>
</html>