<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">

    <label for="userName">Enter userName</label>
    <input type="text" th:field="*{userName}" id="userName">
    <div style="color: red" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</div>
    <br/>
    <label for="lastName">Enter lastName</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div>
    <br/>
    <label for="age">Enter Age</label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
    <br/>

    <label for= "email">Enter Email</label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    </br>
    <label for= "password">Enter password</label>
    <input type="text" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">{Password} error</div>
    </br>

    <tr>
        <td><label>User Role: </label></td>
        <td><select multiple size="2" name="role" >
            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
            <option selected="selected" value="ROLE_USER">ROLE_USER</option>
        </select></td>
    </tr>

    <input type="submit" value="Create!">


</form>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>