<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User panel</title>
</head>
<body>
    <p th:text="${users.getUserName()}">VALUE</p>
    <p th:text="${users.getId()}">VALUE</p>
    <p th:text="${users.getAge()}">VALUE</p>
    <p th:text="${users.getEmail()}">VALUE</p>
    <p th:text="${users.getLastName()}">VALUE</p>
    <p th:text="${users.getPassword()}">VALUE</p>


    <a th:href="@{/admin/users/{id}/edit(id=${users.getId()})}">Edit</a>
    <br/>
    <form th:method = "DELETE" th:action="@{/admin/users/{id}(id=${users.getId()})}">
        <input type="submit" value="DELETE"/>
    </form>

</body>
</html>